{
  presets: [
    [
      '@babel/env',
      {
        targets: {
          node: true,
        },
      },
    ],
    '@babel/preset-typescript',
  ],
  plugins: ['@babel/proposal-object-rest-spread'],
}
